body {
    background-image: url(https://th.bing.com/th/id/OIP.-hB8MXiRIVPq9ltGiftG1AHaEK?pid=ImgDet&rs=1);
       background-size: 1200px;
    }
p{color: white;}
h1{color: white;}
h2{color: white;}
h3{color: white;}
h4{color:white ;}
h5{color:white ;}
h6{color: white;}
em{color:white ;}
strong{color: white ;}
ul{color: white;}
.mail{color: red;}
